@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@400;700&family=Poppins:wght@500;700;800&family=Staatliches&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@400;700&family=Poppins:wght@200;500;700;800&family=Staatliches&family=Teko&display=swap');
body{
font-family: sans-serif;
}
.departments .card-img-top{
    width: 100%;
}
/*
.nav-text1:hover{
    background-color: rgb(249, 249, 254);
    color:black;
}*/
.but1{
    background-color:rgb(38, 38, 152);
    color:white;
    border-radius:50px;
}
.sm-link{
    text-decoration: none;
    font-size:20px;
}
.ul{
    list-style-type: none;
}
.but{
    background-color:rgb(38, 38, 152);
    text-align:center;
    margin:30px 0px;
    padding:10px 20px;
    color:white;
}
.mp-link{
   font-size:20px;
    text-decoration: none;
}
.border{
    border-color: black;
}

#Carousel img{
    max-height: 400px;
    border-radius: 20px;
  filter:brightness(50%);
    min-height: 400px;
    
}
/* .card{
    line-height: 25-px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    border-radius: 25px;  

} */
.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.departments img{
    width:300px;
    height: 168px;
}
.department .card{
    margin: auto;
    margin-top: 50px;
}
.btn:hover{
    background-color:rgb(20, 20, 126);
    color:aliceblue;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    background: white!important;
    border-radius: 50%;
    border: 2px solid white!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: white!important;
}
.carousel h1{
    font-weight: 600;

}
#about img{
    width:80%;
    border-radius: 50px;
}
.study h1{
    font-size:50px;
    font-weight:5px;
    margin-top: 40px;
    
}
.study h2{
    margin:30px 0;
    font-size: 30px;
}
.study .container{
    width:60%;

}
.study p{
    font-size: 25px;
} 
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
 .departments .card{
    transition: background .6s ease;
 }
 .departments .card:hover{
    color:whitesmoke;
    box-shadow: 0px 10px 30px rgba(112, 86, 198, 0.3);
 }
.entry-content .entry{
    margin-top: 30px;
    font-size:20px;
}
.cnt-details{
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    body {
     
      line-height: 1;
      margin: 0;
    }
    .study .container{
        width:100%;
    }
    .but1{
        margin-bottom: 20px;
        padding:10px 10px;
    }
    .study p{
        font-size: 5px;
    }
    .entry-header h1{
        font-size:30px;
    }
    footer{
        font-size:10px;
    }

  }
  @media only screen and (max-width: 850px) {
  .d{
    display:none;
   }
}
   
   @media only screen and (min-width: 850px) {
  .d1{
    display:none;
   }
}
